<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- onload="dragMove('seat')" -->

<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-food-tag'></i>
            <span class="logo_name">SpeedyServ</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/">Dashboard</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-bowl-hot'></i>
                        <span class="link_name">Meals</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="/meals">Meals</a></li>
                    <li><a href="/categories">Categories</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-circle'></i>
                    <span class="link_name">Tables</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/tables">Tables</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-notepad'></i>
                    <span class="link_name">Orders</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="/orders">Orders</a></li>
                </ul>
            </li>
            <!-- <i class='bx bx-cog'></i> -->
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <!--<img src="image/profile.jpg" alt="profileImg">-->
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Prem Shahi</div>
                        <div class="job">Web Desginer</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    <script>

        // *** navbar ***
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    
        /*
                var drag;
                function dragMove(id) {
                    var element = document.getElementById("seat")
                    element.style.position = "absolute"
                    element.onmousedown = function () {
                        drag = element
                    }
                }
                document.onmouseup = function (e) {
                    drag = null
                }
                document.onmousemove = function (e) {
                    var x = e.pageX
                    var y = e.pageY
        
                    drag.style.left = x + "px"
                    drag.style.top = y + "px"
                }*/
        // *** 
        /* var draggableImages = document.querySelectorAll(".draggable");
         var container = document.getElementById("image-container");
         var currentImage = null;
         var isDragging = false;
         var currentX;
         var currentY;
         var initialX;
         var initialY;
         var xOffset = 0;
         var yOffset = 0;
     
         container.addEventListener("mousedown", dragStart);
         container.addEventListener("mouseup", dragEnd);
         container.addEventListener("mousemove", drag);
     
         function dragStart(e) {
             initialX = e.clientX - xOffset;
             initialY = e.clientY - yOffset;
     
             if (e.target.classList.contains("draggable")) {
                 isDragging = true;
                 currentImage = e.target;
             }
         }
     
         function dragEnd(e) {
             initialX = currentX;
             initialY = currentY;
     
             isDragging = false;
             currentImage = null;
         }
     
         function drag(e) {
             if (isDragging) {
                 e.preventDefault();
     
                 currentX = e.clientX - initialX;
                 currentY = e.clientY - initialY;
     
                 xOffset = currentX;
                 yOffset = currentY;
     
                 setTranslate(currentX, currentY, currentImage);
             }
         }
     
         function setTranslate(xPos, yPos, el) {
             el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
         }*/
        const draggables = document.querySelectorAll('.draggable');
        let currentDraggable;
    
        draggables.forEach(draggable => {
            draggable.addEventListener('mousedown', () => {
                currentDraggable = draggable;
            });
    
            draggable.addEventListener('mousemove', e => {
                if (currentDraggable) {
                    const x = e.pageX - currentDraggable.offsetWidth / 2;
                    const y = e.pageY - currentDraggable.offsetHeight / 2;
                    currentDraggable.style.left = `${x}px`;
                    currentDraggable.style.top = `${y}px`;
                }
            });
        });
        document.addEventListener('mouseup', () => {
            currentDraggable = null;
        });
    
    </script>
</body>

</html>