{% extends "base.html" %}
{% block content %}

    <div class="row px-5">
        <div class="col-4 d-flex flex-column gap-3">
            <h3 class="text-center">Pending</h3>
            <button class="btn btn-lg btn-outline-secondary" onclick="window.location.href='/tables/order'">Table 1</button>
            <button class="btn btn-lg btn-outline-secondary">Table 3</button>
            <button class="btn btn-lg btn-outline-secondary">Table 5</button>
            <button class="btn btn-lg btn-outline-secondary">Table 6</button>
        </div>
        <div class="col-4 d-flex flex-column gap-3">
            <h3 class="text-center">In Progress</h3>
            <button class="btn btn-lg btn-outline-secondary">Table 4</button>
            <button class="btn btn-lg btn-outline-secondary">Table 7</button>
        </div>
        <div class="col-4 d-flex flex-column gap-3">
            <h3 class="text-center">Ready</h3>
            <button class="btn btn-lg btn-outline-secondary">Table 2</button>


        </div>

        <!--  <div class="move" id="seat"> -->
<!--         <div class="col-6">
            <div id="image-container">
                <img src="{{ url_for('static', filename='img/2053202-200.png') }}" alt="" class="draggable">
                <img src="{{ url_for('static', filename='img/2053202-200.png') }}" alt="" class="draggable">
                <img src="{{ url_for('static', filename='img/2053202-200.png') }}" alt="" class="draggable">
                <img src="{{ url_for('static', filename='img/2053202-200.png') }}" alt="" class="draggable">
            </div>
        </div> -->


    </div>

{% endblock %}