{% extends "base.html" %}
{% block content %}

    <div class="px-5">
        <button class="btn btn-primary float-end mb-3" onclick="window.location.href='/meals/new'">Add Meal</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Modified at</th>
                </tr>
            </thead>
            <tbody>
                {% for meal in meals %}
                <tr>
                    <th scope="row">{{meal.id}}</th>
                    <td>{{meal.name}}</td>
                    <td>{{meal.price}}</td>
                    <td>{{meal.description}}</td>
                    <td>{{meal.category}}</td>
                    <td>{{meal.created_at}}</td>
                    <td>{{meal.updated_at}}</td>
                </tr>
                {% endfor %}
<!--                 <tr>
                    <th scope="row">2</th>
                    <td>Kafteji</td>
                    <td>5dt</td>
                    <td>Mix of eggs, tomatos, pepper, fried potatos and bread</td>
                    <td>Food</td>
                    <td> - </td>
                    <td> - </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mechwya Salad</td>
                    <td>2dt</td>
                    <td>Mix of tomatos, pepper and bread</td>
                    <td>Food</td>
                    <td> - </td>
                    <td> - </td>

                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Pizza Pepperoni</td>
                    <td>15dt</td>
                    <td>Pepperoni, mozarella and tomato sauce</td>
                    <td>Food</td>
                    <td> - </td>
                    <td> - </td>
                </tr> -->
            </tbody>
        </table>
    </div>

{% endblock %}