{% extends "base.html" %}
{% block content %}

<div class="px-5">
    <h2>Tables</h2>
    <button type="button" class="btn btn-primary float-end mb-3" onclick="window.location.href='/tables/new'">
        Add Table
    </button>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Status</th>
                <th scope="col">Created at</th>
                <th scope="col">Modified at</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
                <th scope="row">{{table.id}}</th>
                <td>
                    {% if table.status == 0 %}
                    Free
                    {% else %}
                    Reserved
                    {% endif %}
                </td>
                <td>{{table.created_at}}</td>
                <td>{{table.updated_at}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}