{% extends "base.html" %}
{% block content %}
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
    </div>
    <div class="px-5">
        <button type="button" class="btn btn-primary float-end mb-3">Add Table</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Size</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Modified at</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>4</td>
                    <td> - </td>
                    <td> - </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>6</td>
                    <td> - </td>
                    <td> - </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>2</td>
                    <td> - </td>
                    <td> - </td>

                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}